# Ignore .tmp and .librarian directories (used by librarian-puppet)
.librarian/
.tmp/

# Ignore top-level modules/ directory (managed by librarian-puppet)
/modules/

# Ignore lock on Puppetfile (for librarian-puppet)
/Puppetfile.lock

# Ignore top-level hieradata/ directory (created/managed by cloud-init.yaml script)
/hieradata/
